@import './resets';
@import './variables';

._1{
    background-color: green;
}
._2{
    background-color: red;
}
body{
    background-color: $color-primary !important;
}

.btn:focus{
    box-shadow: none !important;
}

//Sticky bottom

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Hammersmith One', sans-serif;
    font-size: clamp(28px, 2vw, 53px);
    color: #3e1f92;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover, .sidebar a:focus{
    background-color: #fa949d;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

 
#main {
    transition: margin-left .5s;
    padding: 16px;
}
    
.nav-link{
    color: white    !important;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: right;
}
.nav-link:hover{
    color:$color-secondary !important;
}

.menu{
    width: 30px;
    height: auto;
}

span{
    position:relative;
}

.t1{
    font-family: 'Hammersmith One', sans-serif;
    font-size: clamp(28px, 10vw, 53px);
    font-weight: 100;
    color:white;
    letter-spacing: 0.2px;
}

.t2{
    font-family: 'Hammersmith One', sans-serif;
    font-size: clamp(45px, 10vw, 72px);
    line-height: 0.8;
    color: white ;
    letter-spacing: -1px;
    margin-top: -5px!important;
    
}


.description{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    line-height: 1.4;
}

.hd1-btn{
    background: white;
    color: #3e1f92;
    font-weight: 500;
    font-size: clamp(16px, 2vw, 18px);
    letter-spacing: 1px;
    border-radius: 10px;

}

.hd-btn{
    background-color:#fa949d    ;
    color: #3e1f92;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 500 !important;
    letter-spacing: 1px;
    border-radius: 10px;
}


#section-1{
    animation-delay: 1s;
}

    
/**********************
******************ABOUT
***********************/

#about-sec{
    overflow: hidden !important;
    background-color: $color-white !important;
}

.am-des{
    font-family: 'Montserrat', sans-serif;
    color: #02022b;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: bolder;
  
}

.h-line{
    height: 7px ;
    border-radius: 25px;
}

.about p{
    font-family: 'Montserrat', sans-serif;
    color: #02022b;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: bolder;
}

.sk-box{
    background-color: #3e1f92;
    box-shadow: 1px 1px 5px 2px rgba(74,73,73,0.15);
    border-radius: 5px;
    min-height: 100% !important;
}

.sk-box h5{
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    font-size: 32px;
    line-height: 0.8;
}

.sk-txt li{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px !important;
    font-weight: bold;    
    border-radius: 25px;
    box-shadow: none;
    cursor: default !important;
    text-align: center !important;
}


.sk-txt li{
    background-color: white;
    color: #3e1f92 !important;
    text-align: center !important;
}


.dev button{
    background-color: white;
    color: #3e1f92 !important;
}

.plan button{
    background-color: white;
    color: #3e1f92 !important;
}


/**********************
******************my works 
***********************/
#project-sec{
    overflow: hidden!important;
    background-color: $color-white !important;
}

.tl-box{
    background-color: #3e1f92;
    border-radius: 0 35px 0 0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 22px !important;
    font-weight: 200; 
    letter-spacing: 1px;
    color:#FA949D;
    
}
.prod{
    overflow: hidden !important;
}

.overlay{
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
}

.overlay h4{
    font-family: 'Hammersmith One', sans-serif;
    font-size: clamp(22px, 2vw, 32px);
    color: #3e1f92;
}


.overlay p{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(16px, 2vw, 16px);
    font-weight: 600;
    color: #3e1f92;
}

.s-more{
    background-color: #3e1f92;
    color: white !important;
    font-weight: 500;
}

.s-more:active{
    color: #ddecef !important;
}

.prod:hover > .overlay, .prod:focus > .overlay{
    animation: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    opacity: 1;

}


/**********************
******************ff
***********************/

.ff{
    font-family: 'Hammersmith One', sans-serif;
    color: #3e1f92;
    font-size: clamp(35px, 2vw, 45px);
    font-weight: bold;
}


/**********************
******************contact
***********************/
.contact{
    overflow: hidden !important;
}

.contact h2{
    font-family: 'Hammersmith One', sans-serif;
    font-size: clamp(35px, 2vw, 45px);
    color:white;
    text-align: right;
    font-weight: 500;
}

.c-des{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: bold;
    line-height: 1;
    text-align: right;
}

.contact .form-control{
    border: white !important;
    font-size: clamp(16px, 2vw, 18px);
}

.sd-btn{
    background-color:#fa949d    ;
    color: white;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 500 !important;
    letter-spacing: 1px;
    border-radius: 5px;
}

.arr{
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

/**********************
******************FOOTER
***********************/

.c0{
    position: relative;  
}

.c1{
    position: absolute;
} 


.c2{
    opacity: 0%;
}


.ic-1:not(:hover){
    animation: headShake;
    animation-duration: 2.5s;

    animation-iteration-count: 1;
}

.ic-1:hover{
    background-color:  #3e1f92;
    border-radius: 18px;
}

.pink-line{
    height:7vh;
    width: 7px;
    background-color: #3e1f92;
    border-radius: 18px 18px 0 0;
}

.o-v{
    background-color: #3e1f92;
}

.o-p{
    background-color: #fa949d;
}

.hideme{
    opacity:0;
}